/*-----------------------------------------------------------------------------------*/
/*------------------------------ YearlySchedule Styles ------------------------------*/
/*-----------------------------------------------------------------------------------*/

.wrapper {
    margin-bottom: 30px;
    max-height: 425px;
}

.yearly-schedule-body {
    background-color: #f1f1f1;
    height: 100%;
    max-height: 375px;
}