/*-----------------------------------------------------------------------------------*/
/*------------------------------ YearlySchedule Styles ------------------------------*/
/*-----------------------------------------------------------------------------------*/

.wrapper {
    margin-bottom: 30px;
    max-height: 425px;
}

.yearly-schedule-body {
    display: flex;
    background-color: #f1f1f1;
    height: 100%;
    max-height: 375px;
}

.quarter {
    padding: 10px 0px 0 50px;
    min-width: 180px;
}

.course-style {
    background-color: #E1E1E1;
    padding: 20px 0 0 0;
    margin: 10px 0 10px 0;
    text-align: center; 
}

.current {
    background-color: yellow;
}